################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DsLine.Core/v15/Server/sqlite3
/.vs/DsLine.Core/v16/Server/sqlite3