<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="DsLinePackages" value="https://nuget.pkg.github.com/DsLine-Microservices/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <DsLinePackages>
            <add key="Username" value="frabriziocontin" />
     	    <add key="ClearTextPassword" value="0e346f02fa74193dc821b17eb360dd4f9c056900" />
        </DsLinePackages>
    </packageSourceCredentials>
</configuration>